*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#ignorar todos os diretorios listados abaixo em qualquer subdiretorio
work_space/
build/
trash/
ignore/
private/
#ignorar todos os arquivos por extensao
*~
*.rar
*.zip
*.o
*.tpl
*.pof
*.sgl
*.tpl
*.err
*.log
*.lp
*.csv
*.xlsx
*.xls
*.prj


